body {
    background-color: #EEE;
}

#create_thread_container {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#create_thread_container span {
    display: table-row;
}

#create_thread_container label {
    padding-top: 5px;
    display: table-cell;
    vertical-align: top;
}

#create_thread_container input[type=text] {
    margin-top: 5px;
    margin-left: 10px;
    display: table-cell;
    width: 300px;
}

#create_thread_container textarea {
    margin-top: 5px;
    margin-left: 10px;
    display: table-cell;
    width: 300px;
}

#create_thread_container .title {
    display: table-caption;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

#create_thread_container .submit {
    padding-top: 10px;
    float: right;
}

div.thread {
    display: table-cell;
}

.thread_post {
    border: 1px solid black;
    margin-top: 5px;
    display: inline-block;
    float: left;

    background-color: #DDD;
}

.thread_post:first-child {
    border: none;
    background-color: inherit;
}

.post_delimiter {
    clear: both;
}

.thread_post .post_title {
    padding-top: 5px;
    padding-left: 10px;

}

.thread_post .post_contents {
    padding-top: 50px;
    padding-left: 50px;
    vertical-align: middle;
    padding-bottom: 50px;
}

.post_contents p {
    margin: 0;
}

.post_title span:first-child {
    float: left;
    margin-left: 0;
}

.post_title span:last-child {
    margin-right: 10px;
}

.post_title span {
    float: left;
    width: auto;
    margin-left: 10px;
}

.post_footer {
    color: #707070;
}

