#create_thread_container
    %form{:action => '#'}
        %span.title Create new thread

        %span
            %label{:for => 'thread_name'} Name:
            %input#thread_name{:type => 'text'}

        %span
            %label{:for => 'thread_email'} Email:
            %input#thread_email{:type => 'text'}

        %span
            %label{:for => 'thread_topic'} Topic:
            %input#thread_topic{:type => 'text'}

        %span
            %label{:for => 'thread_text'} Text:
            %textarea#thread_text{:rows => '10', :cols => '35'}

        %span.submit
            %button{:type => 'submit'} Create

%hr

#thread_list
    .thread
        .thread_post
            .post_title
                %span My cool title
                %span Anonymous
                %span Fri 06 Jul 2012 05:40:43
                %span
                    [
                    %a{:href => 'thread.html'} Reply
                    ]
            .post_contents
                %p A paragraph of text.
                %p A second row of text.
                %br
                %p A third line of text.
            .post_footer 54 posts and 44 image replies omitted. Click Reply to view.
        .post_delimiter
        .thread_post
            .post_title
                %span My cool title
                %span Anonymous
                %span Fri 06 Jul 2012 05:40:43
                %span
                    [
                    %a{:href => 'thread.html'} Reply
                    ]
            .post_contents
                %p A paragraph of text.
                %p A second row of text.
                %br
                %p A third line of text.
        .post_delimiter
        .thread_post
            .post_title
                %span My cool title
                %span Anonymous
                %span Fri 06 Jul 2012 05:40:43
                %span
                    [
                    %a{:href => 'thread.html'} Reply
                    ]
            .post_contents
                %p A paragraph of text.
                %p A second row of text.
                %br
                %p A third line of text.
        .post_delimiter
